body {
  font-family: 'Mukta', sans-serif;
}

a {
  color: black;
  transition: all .5s ease;
}

a:hover {
  color: rgb(37, 37, 37);
  text-shadow: 0 0 10px white;
}

.header {
  background-image: url(images/headphones.jpg);
  background-size: cover;
  height: 100vh
}

.mainpage {
  background-color: #fff0b6;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

.toprow {
  margin-top: 200px;
}

.titlefont {
  font-size: 60px;
  font-family: 'Merienda', cursive;
}

.card {
  border: 1px solid #f4b800;
}

.card-text {
  color: #696969;
}

#message {
  opacity: 0;
  transition: all .5s ease;
}

#footer {
  opacity: 0;
  border-top: 1px solid #f4b800;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  z-index: 2;
  transition: all .25s ease;
}

.title {
  transition: all .5s ease;
  cursor: pointer;
}

.title:hover {
  opacity: .6;
}